<% statuses = options_for_select(
        ApplicationProgress.statuses.keys.map { |status| [status.humanize, status] }.unshift(['All statuses', '']),
        selected: params[:status]
      )
%>
<%= form_with(url: applicants_path, method: :get, id: :search) do |f| %>
  <div class="full-width">
    <%= f.govuk_text_field :search, value: params[:search], label: { text: 'Search' }, hint: { text: 'Search by name, email, passport number or unique reference number (URN)' } %>
  </div>

  <div class="row">
    <div class="column">
      <%= f.govuk_select :status, statuses, label: { text: "Filter by application status" } %>
    </div>

    <div class="column">
      <label class="govuk-form-group">
        <%= f.label "Filter by service level agreement (SLA)", class:"govuk-label" %>
        <div class="govuk-hint" id="status-hint">Tick to see applications which have missed team SLAs</div>
        <%= f.govuk_check_box :sla_breached?, true, multiple: false, label: { text: "SLA Breached?" }, checked: params[:sla_breached] == "true" %>
      </label>
    </div>
  </div>

  <div class="full-width">
    <%= f.govuk_submit 'Search', secondary: true %>
  </div>
  <% if session[:filter_status].present? %>
    <%= link_to "Download QA CSV", download_qa_csv_applicants_path, class: "govuk-button" %>
  <% end %>
<% end %>

<%= govuk_table(classes: "applicants-table") do |table|
      table.with_caption(size: 'm', text: 'Applications')
      table.with_head do |head|
        head.with_row do |row|
          row.with_cell(text: 'URN')
          row.with_cell(text: 'Name')
          row.with_cell(text: 'Submitted')
          row.with_cell(text: 'Initial checks')
          row.with_cell(text: 'Home Office checks')
          row.with_cell(text: 'School checks')
          row.with_cell(text: 'Bank details approved')
          row.with_cell(text: 'Payment confirmation')
          row.with_cell(text: 'Rejected')
        end
      end 

      table.with_body do |body|
        @applications.each do |application|
          body.with_row(html_attributes: {class: application.sla_breached? ? 'sla-breached' : ''}) do |row|
            row.with_cell(text: govuk_link_to(application.urn, applicant_path(application.applicant)))
            row.with_cell(text: application.applicant.full_name)
            row.with_cell(text: application.application_progress.created_at&.to_date&.to_fs(:govuk_date))
            row.with_cell(text: application.application_progress.initial_checks_completed_at&.to_fs(:govuk_date))
            row.with_cell(text: application.application_progress.home_office_checks_completed_at&.to_fs(:govuk_date))
            row.with_cell(text: application.application_progress.school_checks_completed_at&.to_fs(:govuk_date))
            row.with_cell(text: application.application_progress.banking_approval_completed_at&.to_fs(:govuk_date))
            row.with_cell(text: application.application_progress.payment_confirmation_completed_at&.to_fs(:govuk_date))
            row.with_cell(text: application.application_progress.rejection_completed_at&.to_fs(:govuk_date))
          end 
        end 
      end
 end %>
<%= govuk_pagination(pagy: @pagy) %>
