<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      Get an international relocation payment
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <p class="govuk-body">
      Applications for the international relocation payment (IRP) are now closed.
    </p>
    <p class="govuk-body">
      Applications will reopen between 2 April and 31 May 2024.
    </p>
    <p class="govuk-body">
      Teachers and trainees can check the eligibility requirements for the IRP by visiting
      <%= govuk_link_to(
            'Get into Teaching',
            'https://getintoteaching.education.gov.uk/non-uk-teachers/get-an-international-relocation-payment'
          ) %>.
    </p>

    <p class="govuk-body">
      You will need a <%= govuk_link_to('teaching job', 'https://getintoteaching.education.gov.uk/non-uk-teachers/teach-in-england-if-you-trained-overseas') %> or a place on a <%= govuk_link_to('salaried teacher training course', 'https://getintoteaching.education.gov.uk/non-uk-teachers/train-to-teach-in-england-as-an-international-student#search-and-apply-for-teacher-training-courses') %> to apply for the IRP.
    </p>

    <p class="govuk-body">
      To remain eligible for the IRP, you must apply in either the first or second term of your teaching job or salaried teacher training course.
    </p>

    <p class="govuk-body">
      Fee-paying trainees <%= govuk_link_to(
          'do not need to apply to receive the international relocation payment',
          'https://getintoteaching.education.gov.uk/non-uk-teachers/get-an-international-relocation-payment/#how-trainee-teachers-can-get-the-international-relocation-payment'
          ) %>.
    </p>

    <p class="govuk-body">
      You can express your interest in the IRP by emailing us at
      <%= govuk_link_to("irp.expressinterest@education.gov.uk", "mailto:irp.expressinterest@education.gov.uk") %>.
      We will email you when applications reopen on 2 April, and at later dates in 2024.
    </p>
  </div>
</div>
