<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">IRP application management settings</h1>
  </div>
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <p class="govuk-body">
      To open the IRP to applicants, you must set a start date and an end date for the service. The start date cannot be in the future. The end date cannot be in the past.
    </p>

    <%= form_for @app_settings, url: settings_path, method: :patch do |f| %>

      <%= f.govuk_error_summary %>

      <%= f.govuk_date_field :service_start_date,
        legend: { text: "Set a start date" },
        class: "service-start-date"
      %>
      <%= f.govuk_date_field :service_end_date,
        legend: { text: "Set an end date" },
        class: "service-end-date"
      %>

      <%= f.govuk_submit "Save" %>
    <% end %>
  </div>
</div>
